.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  position: relative;
  min-height: 100vh;

}
.footer{
  bottom: 0;
  color: #707070;
  height: 11rem;
  left: 0;
  position: absolute; 
  font-size: small;
  width:100%;
  position: static;/* Updated Property */
  



}
.switch{
  
  padding-bottom: 11rem;
}
.center {


  position: absolute;


  left: 50%;


  top: 50%;


  transform: translate(-50%, -50%);


  


  padding: 10px;


}

strong{
  color: #61dafb;

}
.nave{
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

